<h1> B.Frank Words&reg; </h1>
<hr>
<div>
  <a class="btn" href="/signup">Sign Up!<a>

<div>

<form method="POST" action="/sign-in">
	<label>Username</label>
	<input type="text" name="username">

	<label>Password</label>
	<input type="text" name="password">

	<input type="submit">

</form>