<!doctype>
<hmtl>

	<head>
		<title>B. Frank Words</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style.css"/>
		
	</head>
	<body class="container">
		<% if flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
		<%end %>
		<% if flash[:error] %>
		<div class="alert alert-danger">
			<%= flash[:error] %>
		</div>
		<% end %>

		<%= yield %>

	</body>

</hmtl>
