<h3> New Post </h3>
<hr>
<style>
  body{
  	   background-image: url("/images/bfrank4.png");
  	   background-size: cover;
  }
</style>
<form method="POST" action="/create_post" >
	<input type="hidden" name="[post]user_id" value="<%=current_user.id%>" >

	<label>Title</label>
	<input type="text" name= "[post]title">

	<label>Body</label>
	<input type="text" name="[post]body">

	<input type="submit">

</form>	