<h3> New User </h3>
<hr>
<form method="POST" action="/signup" >
 	<!--<input type="hidden" name="[post]user_id" value="<%=current_user.id%>"> -->

  <label>Username</label>
  <input type="text" name="username">

  <label>Password</label>
  <input type="text" name="password">

  <input type="submit">

</form>