<h3> New User </h3>
<hr>
<style>
  body{
  	   background-image: url("/images/bfrank2.jpeg");
       background-size: cover;
  }
</style>
<form method="POST" action="/signup" >

  <label>Email</label>
  <input type="text" name="[signup]email">

  <label>Password</label>
  <input type="text" name="[signup]password">

  <input type="submit">

</form>